@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  user-select: none;
  -webkit-user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", Helvetica, sans-serif;
  background-attachment: fixed;
  color: aliceblue;
}

img {
  display: block;
  width: 100%;
}

svg {
  display: block;
}

.main {
  padding-top: 4rem;
}

.glassmorphism {
  background: linear-gradient(
    -45deg,
    rgba(0, 149, 255, 0.5),
    rgba(255, 0, 0, 0.5)
  );
  filter: contrast(120%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow:
    0 8px 32px rgba(255, 255, 255, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0 2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.glassmorphism:hover {
  filter: hue-rotate(20deg) saturate(150%);
}

.glassmorphism:focus {
  outline: 2px solid rgb(255, 255, 255);
}

.glassmorphism::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glassmorphism::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.error-screen {
  background: linear-gradient(180deg, hsl(190, 100%, 30%), hsl(290, 20%, 70%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.error__reason {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.error__reload {
  padding: 0.5em 1em;
  color: white;
  font: inherit;
  font-weight: 300;
  border: 0.5px solid;
  border-radius: 5px;
  background: rgb(255, 255, 255, 0.1);
}

.loading-screen {
  background: linear-gradient(180deg, hsl(190, 100%, 30%), hsl(290, 20%, 70%));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.main__weather-img-container {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  transition: all 1s ease;
  border: none;
  outline: none;
}

.main__weather-img {
  height: 100%;
  flex-shrink: 0;
  border: none;
}

.main__city-h1 {
  width: fit-content;
  margin: 0 auto 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 250;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.weather-container {
  margin: 0 auto;
  width: 95%;
}

.main__weather {
  margin: 0 auto 1.5rem;
  padding: 1em;
}

.weather__temp-p {
  font-size: 2.4rem;
  font-weight: 200;
}

.update-message {
  font-size: 0.7rem;
  height: 1rem;
}

.weather__description-p {
  font-weight: 300;
  text-transform: capitalize;
}

.weather__minmax-temp-p {
  padding: 0.2em 0;
}

.main__weather-metrics {
  margin: 0 auto;
  padding-bottom: 2rem;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 170px));
  justify-content: center;
  align-content: safe center;
  justify-items: center;
  align-items: safe center;
  gap: 10px;
}

.main__weather-metrics div {
  aspect-ratio: 1;
  padding: 1em;
  width: 100%;
}

.metrics__h2 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1em;
}

.footer {
  width: 50vw;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 200px;
  opacity: 0.4;
  filter: grayscale(50%);
  transition: all 0.3s ease-in;
}

.footer:hover {
  opacity: 1;
  filter: grayscale(0);
}

.footer__nav {
  padding: 5px 1em;
}

.nav__ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav__ul li {
  width: 2.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.nav__ul li:hover {
  background-color: black;
}

.nav__ul li a {
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 50%;
}

.nav__ul li a:focus {
  outline: 2px solid white;
}

:has(.nav__ul li a:focus) .footer {
  opacity: 1;
  filter: grayscale(0);
}

:has(.nav__ul li a:focus) .nav__logo {
  color: white;
}
:has(.nav__ul li a:focus) .nav__ul li {
  background-color: black;
}

.nav__logo {
  width: 65%;
  color: black;
  margin: 0 auto;
  align-self: center;
}

:is(.nav__ul li:hover) .nav__logo {
  color: white;
}

@keyframes animeOnScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes zoomIn {
  0% {
    translate: -20% 0;
    scale: 3 3;
  }
  100% {
    translate: -20% 0;
    scale: 1 1;
  }
}

@media screen and (min-width: 700px) {
  body {
    overflow: hidden;
  }
  .main {
    height: 80vh;
    padding-top: 2rem;
  }
  .weather-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    height: 100%;
  }
  .main__city-h1 {
    font-size: 2.4rem;
  }
  .main__weather {
    flex-grow: 1;
    font-size: 1.6rem;
  }
  .weather__temp-p {
    font-size: 3.5rem;
  }
  .main__weather-metrics {
    padding: 3px;
    height: 100%;
    grid-auto-rows: max-content;
    overflow-y: scroll;
    -webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .main__weather-metrics div {
    font-size: 1.1rem;
  }
  .main__city-h1 {
    margin: 3rem auto 2rem;
  }
  .footer {
    max-width: 170px;
  }
}
